<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
    <!-- navigation bar -->
    <nav>

    </nav>

    <div id="main-section">
        <!-- room section  -->
        <nav id="sidebar">

        </nav>

        <!-- message area -->
        <div id="rightside-panel">
            <!-- Display message -->
            <div id="display-message-section">

            </div>

            <!-- input message -->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type Here..." autocomplete="off" />
                <button type="button" id="send_message">Send</button>
            </div>
        </div>
    </div>

    <!-- Get username -->
    <script type="text/javascript">
        const username = `{{ username }}`;
    </script>


<!-- socketio JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<!-- Custom Socketio JS -->
<script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
</body>
</html>